<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login|Register</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  {% load staticfiles %}
  <link href="{% static "login/css/login.css" %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<!--mainbox-->
<div class="mainbox">

<!-- Centered Pills -->
<div class="tabfont">
<ul class="nav nav-pills nav-justified">
  <li class="active"><a data-toggle="pill" href="#Login">Login</a></li>
  <li><a data-toggle="pill" href="#Register">Register</a></li>
</ul>
</div>

<div class="breakline">
	<p>------------------------------------------------------------------------------------</p>
</div>

<!--login body-->
<div class="tab-content">
  <div id="Login" class="tab-pane fade in active">
    <form role="form">
  <div class="form-group">
    <label for="email"><h3>Email address:</h3></label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd"><h3>Password:</h3></label>
    <input type="password" class="form-control" id="pwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Login</button>
</form>
  </div>

  <!--reg body-->
  <div id="Register" class="tab-pane fade">
    <div class="btn-group btn-group-justified">
  <a href="#" class="btn btn-primary"><h4>Instructor</h4></a>
  <a href="#" class="btn btn-primary"><h4>Student</h4></a>
</div>

   <form role="form">
  <div class="form-group">
    <label for="email"><h3>Email address:</h3></label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="pwd"><h3>Password:</h3></label>
    <input type="password" class="form-control" id="pwd">
  </div>
   <div class="form-group">
    <label for="first"><h3>First Name:</h3></label>
    <input type="firstname" class="form-control" id="first">
  </div>
   <div class="form-group">
    <label for="last"><h3>Last Name:</h3></label>
    <input type="lastname" class="form-control" id="last">
  </div>



  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
  </div>
  
</div>

</div>


</body>
</html>